.registration-form {
  text-align: center;
  justify-content: center;
}

.registration-form input {
  display: block;
  text-align: center;
  margin: 0 auto;
}

#register-button {
  margin-top: 10px;
}

img {
  width: 200px;
  height: 200px;
}

.hidden-update-field {
  display: block;
}

/* .open-update-field {
  display: block;
} */
